// PRIMARY COLORS
$primary_color_first: #00bac7;
$primary_color_second: #ff6a00;

// SECONDARY COLORS
$secondary_color_first: #6ad9d5;
$secondary_color_second: #ffa97c;

// OTHERS COLORS
$black_color: #424246;
$gray_color: #e6e6e6;

// TEXT SHADOWS
$text-shadow-default: 1px 1px 1px #000;

